

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
:root {
  
  --main-green: #0ecd88;
  --main-green-hover: rgba(14, 205, 136, .7);
}
*, *::before, *::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}


.btn {
  background: var(--main-green)!important;
  color: #fff!important;  
  /* width: 250px!important;   */
}
.body-text {
  line-height: 2.0 !important;
  font-weight: 500;
}

.btn:hover, .btn:focus {
  background: var(--main-green-hover)!important;
  border-color: var(--main-green-hover)!important;
}

form {
  max-width: 500px;
}

.soon {
  background: var(--main-green)
}

@media (max-width: 725px){
  .btn {
    background: var(--main-green)!important;
    color: #fff!important; 
  }
  #tutor-form, #student-form {
    width: 100%!important;
  }
}


body {
  overflow-x: hidden;
}

/* Test css rule that should improve page load speeds */
section + section {
  content-visibility: auto;
}


/* Custom Scroll Bar */

@media (min-width: 725px){
::-webkit-scrollbar-thumb {
  background: var(--main-green);
  border-radius: 5px;
}
::-webkit-scrollbar {
  background: #F3F4F6;
}
::-webkit-scrollbar-track {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3) inset;
}

::-webkit-scrollbar-button {
  background: var(--main-green-hover);
}
}

/* Animation Section */

.slide-title {
  opacity: 0;              
}

.animateTitle {
  display: inline-block;
  animation: title-animator 3.5s ease forwards;
}
@keyframes title-animator {
  0% {
    transform: scale(5) translateY(-5rem);    
    opacity: 0;    
  }
  25% {        
    transform: scale(.98) translateX(0);
    opacity: .4;    
  }  
  50% {  
    opacity: .8;
    transform: scale(1); 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .2);
  }  
  75% {
    opacity: 1;    
    text-shadow: 0px 0px 30px rgba(255, 255, 255, .8);
  }     
  100% {
    text-shadow:  0px 0px 0px rgba(255, 255, 255, 0);
    opacity: 1;
  }
}

